$bg: rgb(30, 30, 30);

* {
  font-family: "roboto" sans-serif;
  margin: 0%;
  padding: 0%;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

a {
  color: white;
  text-decoration: none;
}

.header {
  height: 100px;
  background-color: $bg;
  align-items: center;
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
  justify-content: space-between;

  > img {
    height: 100%;
  }

  > div {
    // border: 1px solid red;
    width: 100%;
    margin-left: 4vmax;

    > a {
      margin: 1vmax;
    }
  }

  > svg {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
      color: #e50914;
    }
  }
}

.banner {
  height: 500px;
  background-color: $bg;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  //   transition: transform 0.5s;
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;

  //   &:hover {
  //     transform: translateX(10px) scale(1.05);
  //   }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $bg;
    opacity: 0.2;
  }

  > h1,
  p {
    font-size: 3rem;
    color: white;
    width: 50%;
    z-index: 10;
    padding: 0 2rem;
  }

  p {
    font-size: 1.3rem;
    letter-spacing: 3px;
    word-spacing: 3px;
    width: 40%;
  }

  > div {
    display: flex;
    > button {
      width: 150px;
      padding: 0.6rem;
      z-index: 10;
      margin: 1rem 2rem;
      outline: none;
      border: none;
      border-radius: 5px;
      background-color: white;
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &:nth-child(odd) {
        background-color: white;
        color: black;
      }
      &:nth-child(even) {
        background-color: #a21017;
        color: white;
      }
    }
  }
}

.row {
  background-color: $bg;
  padding: 1rem;

  > div {
    display: flex;
    overflow-x: auto;
  }

  > h2 {
    color: white;
    font-weight: 400;
  }
}

.card {
  width: 200px;
  cursor: pointer;
  margin: 1rem;

  transition: transform 0.5s;
  &:hover {
    transform: translateY(-10px) scale(1.05);
  }
}
